%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true
  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"

  %div.location
    -Location.all.each do |location|
      = check_box_tag 'location[location_ids][]', location.id, false, {id: "location_id_#{location.id}", class: "location_check", location_id: location.id}
      = label_tag "location_id_#{location.id}", location.name
    %br
    -Course.all.each do |course|
      %div.course_check{class: "location_#{course.location_id}"}
        = check_box_tag 'user[course_ids][]', course.id, false, {id: "course_id_#{course.id}"}
        = label_tag "course_id_#{course.id}", course.name
    %br
  %div= f.submit "Sign up"
= render "devise/shared/links"
